################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/node_modules
/obj
/bin
/.vs
/.nyc_output
/coverage
/dist
/velux-api/TestResults
/velux-api/.vs
*.user
/TestResults
xunit.xml
/src-cjs
klf-200-api-*.tgz