################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/node_modules
/obj
/bin
/.vs
/.nyc_output
/coverage
/velux-api/TestResults
/velux-api/.vs
*.user
