/node_modules
/obj
/bin
/.vs
/.nyc_output
/.vscode
/coverage
/docs
/velux-api/TestResults
/velux-api/.vs
*.user
/src
xunit.xml
/test
.jsdoc.json
.travis.yml
appveyor.yml
azure-pipelines.yml
gulpfile.js
tsconfig.json